name: Deploy no Servidor
on:
  workflow_dispatch:
    inputs:
      ambiente:
        description: 'Selecione o ambiente de deploy'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 6
    steps:
      - name: Checkout do código
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}
         
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'        

      - name: Run Test Backend
        run: |
          composer validate --no-check-publish
          composer install --no-interaction --prefer-dist --no-dev --optimize-autoloader

      - name: Front-end
        working-directory: vite
        run: npm install && npm run build

      - name: Zipar o código
        run: make compactar

      - name: Configure SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          name: ambientclinic
          known_hosts: ${{ secrets.DEPLOY_ADDRESS_IP }}
          config: |
            Host servidor-ambientclinic
              HostName 89.117.32.89
              User ambientclinic
              IdentityFile ~/.ssh/ambientclinic
              IdentitiesOnly yes

      - name: Testar conexão ou fazer Deploy
        run: |
          ssh -p 22 ambientclinic@89.117.32.89 "ls -la /var/www/"

      # - name: Configurar o ambiente de deploy
      #   run: make deploy && make config
      #   env:
      #     DEPLOY_ADDRESS_IP: ${{ secrets.DEPLOY_ADDRESS_IP }}
      #     DEPLOY_USERNAME: ${{ secrets.DEPLOY_USERNAME }}
      #     DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        
